.bg-primary {
  background: var(--bg-primary) !important;
}
.bg-body {
  background: var(--body-bg) !important;
}
.bg-black-2 {
  background-color: #000000;
}
.bg-gray {
  background-color: #dddddd;
}
.color-paragraph {
  color: var(--paragraph-color);
}
.radius-100 {
  border-radius: 100px !important;
}
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.pt-03 {
  padding-top: 3px;
}
.ls-1 {
  letter-spacing: 1px;
}
.border-radius-50 {
  border-radius: 50px !important;
}
.bg-cover {
  background-size: cover;
}

.categories-slider .swiper-wrapper { 
  transition-timing-function: linear;
}
.trending-slider-two .swiper-wrapper { 
  transition-timing-function: linear;
}
.newest-release-slider3 .swiper-wrapper { 
  transition-timing-function: linear;
}
.swiper-slider-smooth-swcroll .swiper-wrapper { 
  transition-timing-function: linear;
}

.bg-gradient-black {
  background: var(--Bg-background, linear-gradient(95deg, #181818 7.27%, #151515 99.21%));
}

.custom-grid-container {
  @media #{$sm-layout}{
    max-width: 90%;
  }
}
.mb--20 {
  margin-bottom: -20px;
}
.visibility-visible {
  visibility: visible !important;
  opacity: 1 !important;
}