a.hl-btn,
button.hl-btn,
a.hl-btn:link,
button.hl-btn:link,
a.hl-btn:active,
button.hl-btn:active {
    font-family: var(--heading-font);
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 20px 26px;
    border-radius: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 1;

    &.fs-18 {
        font-size: 18px;
        @media #{$md_device} {
            font-size: 15px;
        }
        @media #{$lg-mobile} {
            font-size: 15px;
        }
    }

    &.radius-20 {
        border-radius: 20px;
    }

    &.gradient-btn {
        background: linear-gradient(
                139deg,
                rgba(255, 255, 255, 0.18) 19.65%,
                rgba(255, 255, 255, 0.03) 50.98%
            ),
            linear-gradient(92deg, #5a0dff 0%, #ff29b8 38.6%, #ff581c 97.73%);
        box-shadow: 5px 2px 10px 0px rgba(45, 23, 70, 0.2) inset,
            -5px -3px 8px 0px rgba(71, 23, 11, 0.2) inset;
    }

    &.trans-btn {
        box-shadow: inset 0 0 0 1px #818181;
    }

    &.small-btn {
        padding: 15px 25px;
        @media #{$lg-mobile} {
            padding: 10px 15px;
            border-radius: 10px;
            font-size: 15px;
            svg {
                width: 14px;
            }
        }
    }

    &.medium-btn {
        padding: 24px 36px 22px;
    }

    &.big-btn {
        padding: 26px 36px;
        font-weight: 500 !important;
        @media #{$lg_device}{
            padding: 22px 30px;
        }
        @media #{$lg_mobile}{
            padding: 20px 25px 17px;
        }
    }

    &.circle-btn {
        justify-content: center;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        padding: 0;
        background: transparent;
    }

    span {
        padding-top: 3px;
    }
}

.slider-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2.8px solid #fff;
    background: transparent;
    &--big {
        width: 90px;
        height: 90px;
        @media #{$xl-device} {
            width: 70px;
            height: 70px;
            svg {
              width: 26px;
            }
            .linear-circle {
              width: 90px;
            }
        }
        @media #{$lg-device} {
            width: 60px;
            height: 60px;
            svg {
                width: 20px;
            }
        }
    }
    &--sm {
        width: 55px;
        height: 55px;
    }

    &.next-slide {
        backdrop-filter: blur(15px);
        svg:nth-child(2n) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            overflow: visible;
            circle {
                fill: none;
                stroke: url(#bg_gradient);
                stroke-width: 3px;
                stroke-dasharray: 248;
                stroke-dashoffset: 0;
            }
        }
    }
}

.circle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
    background: transparent;

    &.md-btn {
        width: 55px;
        height: 55px;
    }

    &.b-white {
        border: 2.8px solid #fff;
    }

    &.fill {
        background: rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(15px);
    }
}

// Video Play Button
.video-play-btn {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    display: inline-block;
    background: linear-gradient(
        133deg,
        rgba(255, 255, 255, 0.27) 12.14%,
        rgba(255, 255, 255, 0.09) 86.99%
    );
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(7.5px);
    transition: all 500ms;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    svg {
        margin-left: 5px;
    }
}

.btn-base {
    font-weight: 600;
    position: relative;
    font-family: var(--heading-font);
    letter-spacing: 1px;
    background-image: linear-gradient(
        to right,
        #5a0dff -5%,
        #ff29b8 31%,
        #ff581c,
        #ff29b8,
        #5a0dff
    );
    box-shadow: 5px 2px 10px 0px rgba(45, 23, 70, 0.20) inset, -5px -3px 8px 0px rgba(71, 23, 11, 0.20) inset !important;
    background-size: 200% 100%;
    transition: all 0.4s ease-in-out;
    svg {
        margin-top: -2px;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(92deg, rgba(90, 13, 255, 0.30) -7.26%, rgba(255, 41, 184, 0.30) 31.34%, rgba(255, 88, 28, 0.30) 90.47%);
        filter: blur(20px);
        z-index: -1;
        border-radius: 15px;
    }
}
.btn-base:hover {
    background-position: 90% 0;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 20px rgb(255 53 144 / 50%) !important;
}

.btn-border-base {
    background: linear-gradient(#181818, #151515) padding-box,
        linear-gradient(to right, #5a0dff -5%, #ff29b8 31%, #ff581c) border-box;
    border-radius: 50em;
    border: 1px solid transparent;
}
.btn-border-base:hover {
    background: linear-gradient(transparent, transparent) padding-box,
        linear-gradient(to right, #5a0dff -5%, #ff29b8 31%, #ff581c) border-box;
    color: #fff;
}

// Gradient Border Button
.gradient-border-button {
    background-color: transparent;
    position: relative;
    z-index: 0;
    font-size: 18px;
    font-weight: 700;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        background-color: #ff581c;
        background: linear-gradient( 92deg, #5a0dff 0%, #ff29b8 38.6%, #ff581c 97.73% )border-box;
        -webkit-mask: linear-gradient(#fff 0%, #fff 0%) padding-box, linear-gradient(#fff 0%, #fff 0%);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude;
        z-index: -1;
        transition: all 300ms ease;
    }

    &:hover {
        &::after {
            -webkit-mask-composite: unset;
        }
    }
}
.btn-inactive {
    color: var(--paragraph-color);
    &:hover {
        color: #fff;
    }
}

.view-style-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px !important;
    background: transparent;
    box-shadow: none !important;
    &.active,
    &:hover {
      background: var(--bg-primary);
      img {
        filter: contrast(10);
      }
      svg {
        path {
            fill: #fff;
        }
      }
    }
}

.btn-load-more {
    padding: 27px 46px 25px !important;
    .less-more {
        display: none;
    }
    &.showLess {
        .load-more {
            display: none;
        }
        .less-more {
            display: block;
        }
    }
}